
div.og_analytics_chart {
  margin-top: 10px;
  margin-bottom: 20px;
  clear: both;
  width: 100%;
}

div.og_analytics_chart_container {
  margin-top: 10px;
  margin-bottom: 20px;
  clear: both;
  max-width: 100%;
  float: left;
}


form.og_analytics_form {
  border-top: 1px solid #5294C1;
  clear: both;
  padding-top: 10px;
}

hr.og_analytics {
  clear: both;
}
div.og_analytics_chart_float {
  display: inline;
  float: left;
  margin-right: 30px;
}

fieldset.og_analytics .fieldset-wrapper>div.form-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 1px solid black;
  margin-right:15px;
  float: left;
  clear: none;
  width: auto;
  min-height: 65px;
}

fieldset.og_analytics .fieldset-wrapper>div.widget {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*border: 1px solid black;*/
  margin-right:15px;
/*  float: left;
  clear: none;*/
  line-height: 100%;
  width: auto;
}

fieldset.og_analytics div.form-item label {
  font-weight: bold;
  color: #03AFDE;
  /*padding-bottom: 5px;*/
}

fieldset.og_analytics div.widget p {
  line-height: 100%;
}

fieldset.og_analytics div.widget label {
  line-height: 100%;
  font-weight: bold;
  font-size: 25px;
  float: left;
  padding-right: 5px;
}

fieldset.og_analytics div.widget img {
  line-height: 100%;
  float: left;
  padding-top: 5px;
  padding-right: 5px;
}

fieldset.og_analytics .fieldset-wrapper input.form-submit {
  float: left;
  clear: both;
}


table.google-visualization-table-table {
  width: 100%;
}

.og_analytics_table_hr_row_header {
}
.og_analytics_table_hr_row {
}

.og_analytics_table_hr_row_odd {
}

.og_analytics_table_row_hover {
}

.og_analytics_table_row_selected {
}


fieldset.og_analytics {
  clear: both;
}


.og_analytics_loading_2 {
  background-image: url("../images/ajax-loader.gif");
  background-repeat: no-repeat;
  clear: both;
  height: 20px;
  width: 20px;
}

.og_analytics_loading>iframe {
  display:none;
}

fieldset.og_analytics div.form-item select {
  /*
  -webkit-appearance: none;
  background: none;
  border: none;
  background-image: url("../images/arrow_down.png");
  
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 50px
  */
}

div.og_analytics_navigation select {
  /*
  -webkit-appearance: none;
  background: none;
  border: none;
  background-image: url("../images/arrow_down.png");

  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 50px
  */
}

fieldset.og_analytics {
  margin-bottom: 10px;
}
